# LG SwIRRC
type irrcServer, domain, domain_deprecated;
type irrcServer_exec, exec_type, file_type;

# Started by init
init_daemon_domain(irrcServer)

# Allow access to /dev/msm_IRRC_pcm_dec
allow irrcServer irrc_device:chr_file rw_file_perms;

# Add IRRC service
allow irrcServer irrc_service:service_manager add;

# Call the mediaserver and transfer references to it
allow irrcServer mediaserver:binder { transfer call };
allow irrcServer mediaserver:fd use;

binder_use(irrcServer);
